<div class="row mb-3" style="margin-top: 30px;">
    <div class="col-xl-9 col-sm-6 py-2">

        <div class="col-xl-12 col-sm-6 ">
            <div class="input-group mb-3" style="  box-shadow: 2px 14px 45px -16px rgba(156,151,156,1);">
                <input type="text" class="form-control" style="height: 50px;"
                    placeholder="Search job by Skill, Company, Location, Experience, Salary, Industry"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append ">
                    <button class="btn btn-lg search_button" type="button">search</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 py-2 AnalyticsDashboard">
            <h3>Analytics Dashboard</h3>
            <div class="row">

                <div class="col-lg-12">
                    <div class="Analytics-content">
                        <div class="row ">
                            <div class="col-lg-3">
                                <div class="Analytics-data1 d-flex justify-content-center">
                                    <div class="data d-flex justify-content-center">
                                        <h1 class="my-auto">75</h1>
                                    </div>
                                </div>
                                <p>Total <br>Active Jobs</p>
                            </div>
                            <div class="col-lg-3">
                                <div class="Analytics-data2  d-flex justify-content-center">
                                    <div class="data d-flex justify-content-center">
                                        <h1 class="my-auto">50</h1>
                                    </div>
                                </div>
                                <p>Total Candidates Selected</p>
                            </div>
                            <div class="col-lg-3">
                                <div class="Analytics-data3  d-flex justify-content-center">
                                    <div class="data d-flex justify-content-center">
                                        <h1 class="my-auto">60</h1>
                                    </div>
                                </div>
                                <p>Total Candidates Screened</p>
                            </div>
                            <div class="col-lg-3">
                                <div class="">
                                    <div id="chartContainer" style="height: 200px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2 ">
        <div class="text-gray h-100 latest_news">
            <div class="card-body" style="height: auto;">
                <h6 class="pl-3">Employment News</h6>
                <hr>
                <div class="col-lg-12">
                    <marquee SCROLLDELAY="200" style="width: 100%;height: 250px;" direction="up"
                        onmousemove="this.stop()" onmouseout="this.start()">
                        <p>I enjoy life when things are happening. I don’t care if it’s good things or bad
                            things. That means you’re alive.” —Joan Rivers</p>
                        <p>I enjoy life when things are happening. I don’t care if it’s good things or bad
                            things. That means you’re alive.” —Joan Rivers</p>
                        <p>I enjoy life when things are happening. I don’t care if it’s good things or bad
                            things. That means you’re alive.” —Joan Rivers</p>
                    </marquee>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="row database_access">
    <div class="col-lg-6">
        <h3><span><i class="fa fa-database" aria-hidden="true"></i></span>Job Seekars' Database access</h3>
    </div>
    <div class="col-lg-6 d-flex justify-content-end ">
        <div class="col-lg-6 d-flex justify-content-around">
            <button type="button" class="btn btn-sm-block btn-light mr-10">Premimum</button>
            <button type="button" class="btn btn-sm-block btn-light">Standard</button>
        </div>
    </div>

</div>

<!--/row-->


<div class="mb-3" style="margin-top: 20px;">

    <div class="row">
        <div class="col-lg-8">
            <div class="Feature_container">
                <h3>Features</h3>
                <div class="row">
                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive" src="../../../assets/Feature Icon/Brand-Solution.png"
                                    width="100%;" height="100%">
                            </div>
                            <h6>Brand Solution</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive"
                                    src="../../../assets/Feature Icon/campus-recruitment.png" width="100%;"
                                    height="100%">
                            </div>
                            <h6>Campus Recruitment</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive"
                                    src="../../../assets/Feature Icon/candidate-Placement.png" width="100%;"
                                    height="100%">
                            </div>
                            <h6>Candidate Placement</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive"
                                    src="../../../assets/Feature Icon/end-to-end-recruitment.png" width="100%;"
                                    height="100%">
                            </div>
                            <h6>End to End Recruitment Tracking</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive"
                                    src="../../../assets/Feature Icon/e2e-recruitment-management.png" width="100%;"
                                    height="100%">
                            </div>
                            <h6>End to End Recruitment Management</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive" src="../../../assets/Feature Icon/role-hierarchy.png"
                                    width="100%;" height="100%">
                            </div>
                            <h6>Role / Hierarchy Management</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-10">
                        <div class="text-center">
                            <div class="logo">
                                <img class="img img-responsive"
                                    src="../../../assets/Feature Icon/referral Management.png" width="100%;"
                                    height="100%">
                            </div>
                            <h6>Referal Management</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-4">
            <div class="py-2 Recommendation_job_container">
                <h4 class="pl-1">Job <br>Recommendation </h4>
                <div class="col-lg-12" class="job_content">
                    <div class="row d-flex">
                        <div class="logo">
                            <img src="../assets/67060-play-photos-search-google-account-png-file-hd.png">
                        </div>
                        <div class="job_description">
                            <p class="job_title"><strong>Product Designer</strong></p>
                            <p class="job_location">Google , Gurgon ,India</p>
                            <span class="Salary">3000/mo</span>
                        </div>
                        <div style="width: 20%;" class="job_posted_date">
                            <span class="text-left">2 days</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" class="job_content">
                    <div class="row d-flex">
                        <div class="logo">
                            <img src="../assets/67060-play-photos-search-google-account-png-file-hd.png">
                        </div>
                        <div class="job_description">
                            <p class="job_title"><strong>Product Designer</strong></p>
                            <p class="job_location">Google , Gurgon ,India</p>
                            <span class="Salary">3000/mo</span>
                        </div>
                        <div style="width: 20%;" class="job_posted_date">
                            <span class="text-left">2 days</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" class="job_content">
                    <div class="row d-flex">
                        <div class="logo">
                            <img src="../assets/67060-play-photos-search-google-account-png-file-hd.png">
                        </div>
                        <div class="job_description">
                            <p class="job_title"><strong>Product Designer</strong></p>
                            <p class="job_location">Google , Gurgon ,India</p>
                            <span class="Salary">3000/mo</span>
                        </div>
                        <div style="width: 20%;" class="job_posted_date">
                            <span class="text-left">2 days</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>