.Confirm_Dialog_container{
    height: 100%;
   padding-bottom:20px ;  
   border-radius: 10px;
}
.title{color:#3c4043;font-size: .875rem;letter-spacing: .01428571em;
font-family: Roboto,Arial,sans-serif;
font-size: .875rem;
font-weight: 400;
line-height: 1.25rem;
}
a{
     cursor: pointer;
}